/** Uma regra CSS tem a sintaxe geral
    seletor{
        propriedade:valor;
    }
    
    Tipos de Seletor Existentes:
    - Seletor Universal: Seleciona todos os elementos (ex: *)
    - Seletor de Tipo: Seleciona todos os elementos de um determinado tipo (ex: p, h1, div)
    - Seletor de ID: Seleciona um único elemento com u =m determinado ID (ex: #meu-id)
    - Seletor de Classe: Seleciona todos os elementos com uma determinada classe (ex: .minha-classe)
    - Seletor por Atributo: Seleciona elementos com um determinado atributo (ex: [type="text"])
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    background-color: azure;
}

#tituloformascss {
    background-color: bisque;
}

.vermelho {
    color: red;
}

[for="nome"], [type="submit"] {
    color: darkcyan;
}